<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{{ title }}</title>
		<meta name="google-site-verification" content="wBaRqSQCNUR-Q4hBnSaVsj50h6OhnZn88UWUNATBqjY" />
		<link rel="stylesheet" href="/main.css" >
	</head>
	<body>
	<header><h1> Philipp's blog</h1></header>
	<nav>
		<ul>
			<li>Blog</li>
			<li>The Best Articles</li>
			<li>Projects</li>									
			<li>Presentations
				<ul>
					<li>
						vNext, deploy from Linux into Azure
					</li>
				</ul>
			</li>
			<li><a href="/about"> About</a>
				<ul>
					<li><a href="/about">Me</a></li>
					<li><a href="/cv">CV </a></li>
					<li><a href="/allcode"> All code I wrote</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<aside>
	<img src="/img/me.jpg" alt="my portrait"></img>	
	</aside>
	<main>
			{{> (lookup . 'content_template') this}}
	</main>
	
	<footer><p>&copy; 2015 Philipp Smirnov</p></footer>
	</body>
</html>
