body {
	background-color: #fdf6e3;
	color: #657b83;
	font-size: 1.1em;
}

main {
	display: block;	
	width: auto;
	overflow: hidden;	
	margin-left: 5em;	
	line-height: 1.5;
}

aside {
	float: right;
	width: 280px;
}

aside img {
	margin: 0px auto;
	width: 200px;
	height: 200px;
	display: block;
}

h1 { 
	color: #586e75;
	font-size: 2em;
}

header h1 {
	color: #268bd2;
	font-size: 3em;
	margin: 0em;
}

footer {
	position: relative;
	color: #93a1a1;
	clear: both;
}

footer p {
	position: absolute;
	right: 0em;
}

nav{
	font-size: 1.2em;
	margin: 0.5em 0em;
}

nav ul {
	margin: 0em;
	padding: 0em;
}

nav ul li {
  list-style-type: none;
  color: #cb4b16;
  white-space: nowrap;  
}
nav > ul > li {  
  display: inline-block; 
  position:relative;
  font-weight: bold;
}

nav ul ul {
  transform: scale(1,0); 
  transform-origin: top center; 
  transition:0.2s linear 50ms; 
  position:absolute; 
  top: 100%;
  border: 1px solid #cb4b16; 
  background-color: #fdf6e3;
  padding: 0em 1em;
  margin: 0.5em 0em;
}

nav li:hover ul {
  transform: scale(1,1);
}

nav > ul > li + li:before{
    content: " | ";
    padding: 0 10px;
}

nav ul ul li {
	margin: 0.2em;
	list-style-type: disc;
	font-weight: normal;
}

nav a {
  color: inherit; 
  text-decoration: none; 
}


