body {
	background-color: #fdf6e3;
	color: #657b83;
	font-size: 1.1em;
}

main {
	display: block;	
	width: auto;
	overflow: hidden;	
	margin-left: 5em;	
	line-height: 1.5;
}

aside {
	float: right;
	width: 280px;
}

aside img {
	margin: 0px auto;
	width: 200px;
	height: 200px;
	display: block;
}

h1 { 
	color: #586e75
}

header h1 {
	color: #cb4b16;
}

footer {
	position: relative;
	color: #93a1a1;
	clear: both;
}

footer p {
	position: absolute;
	right: 0em;
}
